$red:#ed1f24;

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    background: #fff;
  }
  .container {
    width: 400px;
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
  
    h1 {
      color: $red;
      display: inline;
      font-size: 4rem;
    }
  
    span {
      color: black;
      font-size: 4rem;
    }

    a {text-decoration: none;}
    a:visited {color: $red;}
  }
  
  